<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="STS Logo" src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.0-9/12933158_1152281094822528_5269280475760217097_n.png?_nc_cat=0&_nc_eui2=v1%3AAeETvKdwHDrLOwbVyVG0tL8VL0JBLus8MtJfcGwHZQn6sACCX_C9IQZJMz3YAigm9vRoxdvbTze33UOQK8dxGBkucFEbek6OPe8PDyoYKezTiA&oh=e3569b43cd8f0589e1f752ce39946ea4&oe=5B72996A">
</div>
<h2>Here are some functions to use: </h2>
<div class="table-reponsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="Home"><a routerLink = "/posts">Home</a></th>
        <th class="Album"><a routerLink = "/album">Album</a></th>
        <th class="Post"><a routerLink = "/posts">Post</a></th>
        </tr>
    </thead>
  </table>
  <router-outlet></router-outlet>
</div>


